@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}
@layer base {
  body {
    @apply bg-primary;
  }
}
@layer components {
  .btn-div-shadow {
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.8);
  }
  .btn-div-after-shadow {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  .btn-span-shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  }
  .radial-blue-gradient {
    background: radial-gradient(
      600px at 176px 96px,
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
  }
  .hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
  }

  .black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .violet-gradient {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }
  .blue-gradient {
    background: #5271ff;
    background: linear-gradient(-90deg, #5271ff 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #5271ff 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }

  .green-pink-gradient {
    background: '#00cea8';
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }

  .orange-text-gradient {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f12711,
      #f5af19
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f12711,
      #f5af19
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .green-text-gradient {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blue-text-gradient {
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: #5271ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #5271ff,
      #56ccf2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #5271ff,
      #56ccf2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pink-text-gradient {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    border: none;
  }
  .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-1 {
    transform: translateZ(100px);
  }
  .box-2 {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
  }

  .box-3 {
    transform: rotateY(180deg) translateZ(100px);
  }

  .box-4 {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
  }

  .box-5 {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
  }

  .box-6 {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
  }
}

/* Animating the elements */
@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotateY(90deg) rotateZ(90deg);
  }
  40% {
    transform: rotateY(180deg) rotateZ(-90deg);
  }
  60% {
    transform: rotateY(270deg) rotateZ(90deg);
  }
  80% {
    transform: rotateY(360deg) rotateZ(-90deg);
  }
}
